<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= guildName %> - Manager</title>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/guildsBar.css">
    <link rel="stylesheet" href="/css/guildOptions.css">
    <link rel="stylesheet" href="/css/guildInput.css">
</head>
<body>
    <nav class="guilds">
        <ul>
            <% for (var i = 0; i < availableGuilds.length; i++) { %>
                <li>
                    <a href="/dashboard/guilds/<%= availableGuilds[i].id %>/members"><img src="https://cdn.discordapp.com/icons/<%= availableGuilds[i].id %>/<%= availableGuilds[i].icon %>"></a>
                </li>
            <% }; %>
            <br>
        </ul>
    </nav>
    <main>
        <div class="menu">
            <img src="<%= guildIcon %>">
            <p class="title"><%= guildName %></p> <br>
            <a href="/dashboard/guilds/<%= guildID %>/security">🛡️・Security</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/connections">🖇️・Connections</a> <br>
            <a class="display" href="/dashboard/guilds/<%= guildID %>/members">🛬・Members</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/logs">📁・Logs</a> <br>
            <br>
            <a href="/dashboard/guilds">↩️・Back</a>
        </div>
        <div class="config">
            <p class="title">Members</p>
            <div>
                <% if (memberAdd != null) { %>
                    <p class="status">Welcome messages: Active (channel: <%= memberAdd %>).</p>
                <% } else { %>
                    <p class="status">Welcome messages: Inactive.</p>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/members" method="get">
                    <input class="input" type="text" name="value" value="memberAdd" hidden/>
                    <input class="input" type="text" name="data" placeholder="Enter the channel ID here."/>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (memberAdd != null) { %>
                        <a href="/dashboard/guilds/<%= guildID %>/members?value=memberAdd&data=null">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div>
                <% if (joinRole != null) { %>
                    <p class="status">Join role: Active (role: <%= joinRole %>).</p>
                <% } else { %>
                    <p class="status">Join role: Inactive.</p>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/members" method="get">
                    <input class="input" type="text" name="value" value="joinRole" hidden/>
                    <input class="input" type="text" name="data" placeholder="Enter the role ID here." />
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (joinRole != null) { %>
                        <a href="/dashboard/guilds/<%= guildID %>/members?value=joinRole&data=null">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div>
                <% if (memberRemove != null) { %>
                    <p class="status">Leave messages: Active (channel: <%= memberRemove %>).</p>
                <% } else { %>
                    <p class="status">Leave messages: Inactive.</p>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/members" method="get">
                    <input class="input" type="text" name="value" value="memberRemove" hidden/>
                    <input class="input" type="text" name="data" placeholder="Enter the channel ID here."/>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (memberRemove != null) { %>
                        <a href="/dashboard/guilds/<%= guildID %>/members?value=memberRemove&data=null">Disable</a>
                    <% }; %>
                </form>
            </div>
        </div>
    </main>
    <nav class="navbar">
        <a href="/home" class="logo">Manager</a>
        <div class="nav-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="display"><a href="/dashboard">Dashboard</a></li>
                <li><a href="https://github.com/PistacheDev/manager">GitHub</a></li>
                <li><a href="https://discord.com/invite/RkB3ZQsmGV">Support</a></li>
            </ul>
        </div>
        <img src="/assets/menu.png" alt="menu.png" class="hamburgerMenu">
    </nav>
    <script src="/js/menu.js"></script>
</body>
</html>