<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= guildName %> - Manager</title>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/guildsBar.css">
    <link rel="stylesheet" href="/css/guildOptions.css">
    <link rel="stylesheet" href="/css/guildInput.css">
</head>
<body>
    <nav class="guilds">
        <ul>
            <% for (var i = 0; i < availableGuilds.length; i++) { %>
                <li>
                    <a href="/dashboard/guilds/<%= availableGuilds[i].id %>/moderation"><img src="https://cdn.discordapp.com/icons/<%= availableGuilds[i].id %>/<%= availableGuilds[i].icon %>"></a>
                </li>
            <% }; %>
            <br>
        </ul>
    </nav>
    <main>
        <div class="menu">
            <img src="<%= guildIcon %>">
            <p class="title"><%= guildName %></p> <br>
            <a href="/dashboard/guilds/<%= guildID %>/security">🛡️・Security</a> <br>
            <a class="display" href="/dashboard/guilds/<%= guildID %>/moderation">🔨・Moderation</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/xp">📊・XP</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/connections">🖇️・Connections</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/members">🛬・Members</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/logs">📁・Logs</a> <br>
            <br>
            <a href="/dashboard/guilds">↩️・Back</a>
        </div>
        <div class="config">
            <p class="title">Moderation</p>
            <div>
                <% if (antispam == 0) { %>
                    <p class="status">Anti spam: Inactive.</p>
                <% } else { %>
                    <% const [ignoreBots, maxMessages, interval, maxWarns, sanction] = antispam.split(' ') %>
                    <p class="status">Anti spam: Active.</p>
                    <% if (ignoreBots == 1) { %>
                        <p class="data">・Ignore Bots: Yes.</p>
                    <% } else { %>
                        <p class="data">・Ignore Bots: No.</p>
                    <% }; %>
                    <p class="data">・Spam Detection: More than <%= maxMessages %> messages in <%= interval %> seconds.</p>
                    <p class="data">・Maximum Warns: <%= maxWarns %> warns.</p>
                    <% if (sanction != 'ban') { %>
                        <p class="data">・Sanction: Mute for <%= sanction %> minutes.</p>
                    <% } else { %>
                        <p class="data">・Sanction: Ban.</p>
                    <% }; %>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/moderation" method="get">
                    <input class="input" type="text" name="value" value="antispam" hidden/>
                    <input class="input" type="text" name="bots" placeholder='Answer by "yes" or "no".'/> <br>
                    <input class="input" type="text" name="messages" placeholder="Maximum number of warns before the sanction."/> <br>
                    <input class="input" type="text" name="interval" placeholder="Interval of time in seconds."/> <br>
                    <input class="input" type="text" name="warns" placeholder="Maximum number of warns before the sanction."/> <br>
                    <input class="input" type="text" name="sanction" placeholder='Enter "ban" to ban or a number (in hours) to mute.'/> <br>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (warn != 0) { %>
                        <style>
                            form {
                                margin-top: 5px;
                            }
                        </style>
                        <a href="/dashboard/guilds/<%= guildID %>/moderation?value=antispam&disable=hi">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div>
                <% if (warn == 0) { %>
                    <p class="status">Warn: Inactive.</p>
                <% } else { %>
                    <% const [maxWarns, sanction] = warn.split(' ') %>
                    <p class="status">Warn: Active.</p>
                    <p class="data">・Maximum Warns: <%= maxWarns %> warns.</p>
                    <% if (sanction != 'ban') { %>
                        <p class="data">・Sanction: Mute for <%= sanction %> hours.</p>
                    <% } else { %>
                        <p class="data">・Sanction: Ban.</p>
                    <% }; %>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/moderation" method="get">
                    <input class="input" type="text" name="value" value="warn" hidden/>
                    <input class="input" type="text" name="warns" placeholder="Maximum number of warns before the sanction."/> <br>
                    <input class="input" type="text" name="sanction" placeholder='Enter "ban" to ban or a number (in hours) to mute.'/> <br>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (warn != 0) { %>
                        <style>
                            form {
                                margin-top: 5px;
                            }
                        </style>
                        <a href="/dashboard/guilds/<%= guildID %>/moderation?value=warn&disable=hi">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div>
                <% if (antipings == 0) { %>
                    <p class="status">Anti pings: Inactive.</p>
                <% } else { %>
                    <% const [ignoreBots, sanction] = antipings.split(' ') %>
                    <p class="status">Anti pings: Active.</p>
                    <% if (ignoreBots == 1) { %>
                        <p class="data">・Ignore Bots: Yes.</p>
                    <% } else { %>
                        <p class="data">・Ignore Bots: No.</p>
                    <% }; %>
                    <% if (sanction != 'ban') { %>
                        <p class="data">・Sanction: Mute for <%= sanction %> hours.</p>
                    <% } else { %>
                        <p class="data">・Sanction: Ban.</p>
                    <% }; %>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/moderation" method="get">
                    <input class="input" type="text" name="value" value="antipings" hidden/>
                    <input class="input" type="text" name="bots" placeholder='Answer by "yes" or "no".'/> <br>
                    <input class="input" type="text" name="sanction" placeholder='Enter "ban" to ban or a number (in minutes) to mute.'/> <br>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (antipings != 0) { %>
                        <style>
                            form {
                                margin-top: 5px;
                            }
                        </style>
                        <a href="/dashboard/guilds/<%= guildID %>/moderation?value=antipings&disable=hi">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div>
                <% if (antilinksStatut == 0) { %>
                    <p class="status">Anti links: Inactive.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=1">Enable</a>
                <% } else if (antilinksStatut == 1) { %>
                    <p class="status">Anti links: Active.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=2">Enforce</a>
                <% } else { %>
                    <p class="status">Anti links: Enforced.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=0">Disable</a>
                <% }; %>
            </div>
        </div>
    </main>
    <nav class="navbar">
        <a href="/home" class="logo">Manager</a>
        <div class="nav-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="display"><a href="/dashboard">Dashboard</a></li>
                <li><a href="https://github.com/PistacheDev/manager">GitHub</a></li>
                <li><a href="https://discord.com/invite/RkB3ZQsmGV">Support</a></li>
            </ul>
        </div>
        <img src="/assets/menu.png" alt="menu.png" class="hamburgerMenu">
    </nav>
    <script src="/js/menu.js"></script>
</body>
</html>