<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= guildName %> - Manager</title>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/guildsBar.css">
    <link rel="stylesheet" href="/css/guildOptions.css">
    <link rel="stylesheet" href="/css/guildText.css">
    <link rel="stylesheet" href="/css/guildInput.css">
</head>
<body>
    <nav class="guilds">
        <ul>
            <% for (var i = 0; i < availableGuilds.length; i++) { %>
                <li>
                    <a href="/dashboard/guilds/<%= availableGuilds[i].id %>/security"><img src="https://cdn.discordapp.com/icons/<%= availableGuilds[i].id %>/<%= availableGuilds[i].icon %>"></a>
                </li>
            <% }; %>
            <br>
        </ul>
    </nav>
    <main>
        <div class="menu">
            <img src="<%= guildIcon %>">
            <p class="title"><%= guildName %></p> <br>
            <a class="display" href="/dashboard/guilds/<%= guildID %>/security">🛡️・Security</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/sanctions">🔨・Sanctions</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/xp">📊・XP</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/connections">🖇️・Connections</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/members">🛬・Members</a> <br>
            <a href="/dashboard/guilds/<%= guildID %>/logs">📁・Logs</a> <br>
            <br>
            <a href="/dashboard/guilds">↩️・Back</a>
        </div>
        <div class="config">
            <p class="title">Security</p>
            <div class="noinput">
                <% if (raidmodeStatut == 1) { %>
                    <p class="status">Raidmode: Active.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=raidmode&data=0">Disable</a> <br>
                <% } else { %>
                    <p class="status">Raidmode: Inactive.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=raidmode&data=1">Enable</a> <br>
                <% }; %>
            </div>
            <div>
                <% if (autoraidmode != 0) { %>
                    <p class="status">Auto raidmode: Active.</p>
                    <% const [maxMembers, interval] = autoraidmode.split(' '); %>
                    <p class="data">・Detection: More than <%= maxMembers %> members in <%= interval %> seconds.</p>
                <% } else { %>
                    <p class="status">Auto raidmode: Inactive.</p>
                <% }; %>
                <form action="/dashboard/guilds/<%= guildID %>/security" method="get">
                    <input class="input" type="text" name="value" value="autoraidmode" hidden/>
                    <input class="input" type="text" name="members" placeholder="Maximum of new members during the interval (3 ~ 10)."/> <br>
                    <input class="input" type="text" name="interval" placeholder="Interval of time in second (3 ~ 10)."/> <br>
                    <input class="submit" type="submit" value="Submit"/>
                    <% if (autoraidmode != 0) { %>
                        <style>
                            form {
                                margin-top: 5px;
                            }
                        </style>
                        <a href="/dashboard/guilds/<%= guildID %>/security?value=autoraidmode&disable=hi">Disable</a>
                    <% }; %>
                </form>
            </div>
            <div class="noinput">
                <% if (antibotStatut == 1) { %>
                    <p class="status">Anti bots: Active.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antibots&data=0">Disable</a>
                <% } else { %>
                    <p class="status">Anti bots: Inactive.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antibots&data=1">Enable</a>
                <% }; %>
            </div>
            <div class="noinput">
                <% if (antilinksStatut == 0) { %>
                    <p class="status">Anti links: Inactive.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=1">Enable</a>
                <% } else if (antilinksStatut == 1) { %>
                    <p class="status">Anti links: Active.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=2">Enforce</a>
                <% } else { %>
                    <p class="status">Anti links: Enforced.</p>
                    <a href="/dashboard/guilds/<%= guildID %>/security?value=antilinks&data=0">Disable</a>
                <% }; %>
            </div>
        </div>
    </main>
    <nav class="navbar">
        <a href="/home" class="logo">Manager</a>
        <div class="nav-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="display"><a href="/dashboard">Dashboard</a></li>
                <li><a href="https://github.com/PistacheDev/manager">GitHub</a></li>
                <li><a href="https://discord.com/invite/RkB3ZQsmGV">Support</a></li>
            </ul>
        </div>
        <img src="/assets/menu.png" alt="menu.png" class="hamburgerMenu">
    </nav>
    <script src="/js/menu.js"></script>
</body>
</html>